In [1]:
%load_ext autoreload
%autoreload 2

https://www.stata.com/features/overview/generalized-method-of-moments/

In [5]:
import quantmetrics
from quantmetrics.datasets import webuse

In [10]:
docvists = webuse('docvisits', return_data=True, stata_version=16)
docvists.head()

,docvis,age,income,female,black,hispanic,married,physlim,private,chronic
0,0,3.9,30.000000,1,0,1,1,0,1,0
1,1,4.7,10.000000,0,0,1,1,0,1,0
2,15,2.7,27.000000,1,0,0,0,0,1,1
3,0,3.0,11.250000,0,0,0,1,0,0,0
4,2,5.4,76.330002,1,0,0,1,0,1,0

In [11]:
from quantmetrics import gmm

In [12]:
gmm()

Hallo world!